.text-left,
.text-left > p,
p.text-center {
  text-align: left !important;
}

.text-right,
.text-right > p,
p.text-center {
  text-align: right !important;
}

.text-justify,
.text-justify > p,
p.text-center {
  text-align: justify !important;
}

.text-center,
.text-center > p,
p.text-center {
  text-align: center !important;
}
