.reveal p {
  text-align: left;
}

.reveal div.image {
  text-align: center !important;
  max-width: none;
  max-height: none;
}

.reveal section img.no-border {
  border: none;
  box-shadow: none;
}

.reveal code {
  padding: 0 3px;
  background-color: #3f3f3f;
  border-radius: 5px;
  font-family: monospace;
}

.reveal pre {
  width: 100%;
}

.reveal pre code{
  max-height: none;
  padding: 15px 0px 15px 15px;
  background-color: transparent;
  border: 5px solid #7F7F7F;
  border-radius: 5px;
  font-family: monospace;
}

.reveal pre.big-sintax {
  width: 100%;
  box-shadow: none;
}

.reveal pre.big-sintax code{
  border: none;
  font-size: 1.5em;
  line-height: 130%;
  margin-left: 15%;
}

hr.breakline {
  margin: 15px;
  border: 0;
  border-bottom: 1px dashed #7F7F7F;
}
